/*for cover some component inner css class*/
.product-slick :global(.slick-slide) {
    height: inherit;
}
.simpleInput:focus-within {
    border-color: deepskyblue!important;
}
.readonly-quill {

}
.readonly-quill :global(.ql-editor) {
    height: unset;
}
.readonly-quill :global(.ql-container) {
    height: unset;
}
