
@tailwind components;
.gray-input {
    @apply flex-1 flex text-gray-600 flex-row rounded-lg bg-gray-300 items-center pl-1;
}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}
.horizontal-scroll {
    @apply overflow-x-auto w-full whitespace-no-wrap overflow-y-hidden horizontal-scroll grid gap-1 grid-flow-col;
}
.justify-items-center {
    justify-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    /*-webkit-tap-highlight-color: #ccc;*/
    user-select: none;
    overscroll-behavior-y: contain;
}
input:focus {
    outline: none;
}
.simple-card {
    @apply bg-white w-full shadow-sm rounded-lg;
}
.ripple {
    background-position: center;
    transition: background 0.5s;
}
.ripple:hover {
    background: white radial-gradient(circle, transparent 1%, lightgray 1%) center/15000%;
}
.ripple:active {
    background-color: white;
    background-size: 100%;
    transition: background 0s;
}
/** {*/
/*    background: #000 !important;*/
/*    color: #0f0 !important;*/
/*    outline: solid #f00 1px !important;*/
/*}*/
/*debug css*/
